---
import ProjectsColection from './Projects'
import ProjectCard from "./ProjectCard.astro";
---

<section >
    <div class="w-4/5 m-14 mt-20 flex flex-col items-center justify-center gap-1 flex-wrap md:flex-row md:w-full md:m-5" style="margin 0 auto">
        {
            ProjectsColection.map((project) => (
                <ProjectCard
                    title={project.title}
                    desc={project.Desc}
                    link={project.link}
                    repo={project.repo}
                    frame={project.frame}
                    lenguage={project.lenguage}
                    img={project.img}
                />
            ))
        }
    </div>
</section>
