---
interface Props {
    title: string
    desc: string
    link: string
    repo: string
    frame?: string
    lenguage: string
    img: string
}

const {title, desc, lenguage, link, frame, img, repo} = Astro.props
---
<article class="w-full h-[300px] m-2 bg-semi-black md:w-1/3 rounded-lg">
    <div style='background-image: `${}`;'></div>
    <div>
        <h2>{title}</h2>
        <p>{desc}</p>
        <a href={link}></a>
        <a href={repo}></a>
        <nav>
            <p>{lenguage}</p>
            <p>{frame}</p>
        </nav>
    </div>
</article>