---
import experiences from "../config/Experiencies";
import {Link} from '../components/ui/sgvs'
import experiencesVideo from "../config/ExperienciesVideo";
interface Props{
    profile: string
}

const {profile} = Astro.props
const profileSelected = profile === "dev" ? experiences : experiencesVideo
---

<section class="w-full md:w-1/2 md:px-14 h-fit flex flex-col items-center">
    <h2 class="font-bold text-4xl mt-10 mb-2 self-start">Experiencias</h2>
    <hr class="w-20 self-start border-2 mb-10" />

    <ol class="w-full md:w-full lg:w-4/5 relative border-s border-gray-200 text-start dark:border-gray-700">                  
        {
            profileSelected.map(exp => (
                <li class="mb-10 ms-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 border-2 rounded-full -start-3">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class={`${exp.cliente ? 'block' : 'hidden'}flex items-center mb-1 text-lg font-semibold`}>{exp.cliente}   |   {exp.since} <span class={`${exp.actual ? 'inline' : 'hidden'} text-sm font-medium px-2.5 py-0.5 rounded border ms-3`}>Actual</span></h3>
                    {exp.rol && <p class={`block mb-2 text-sm font-normal text-gray-400 dark:text-gray-500 leading-5`}>{exp.rol} - <span class="font-bold">{exp.time}</span></p>}
                    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{exp.desc}</p>
                    {
                    exp.web &&
                        <a href={exp.web} target="_blank" class={`flex items-center gap-2 underline`}>
                            Conocé más 
                            <span>
                                <Link />
                            </span>
                        </a>
                    }
                </li>
            ))
        }
    </ol>
</section>